body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.dashboard-container {
    display: flex;
    min-height: 100vh; /* Utiliser min-height au lieu de height pour s'adapter au contenu */
}

.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    max-width: 200px;
}

.logo h2 {
    margin: 10px 0 0;
    font-size: 1em;
    color: #333;
}

button#reload-btn {
    background-color: #4CAF50; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    padding: 10px 20px; /* Espacement du texte à l'intérieur du bouton */
    font-size: 16px; /* Taille de la police */
    border: none; /* Supprime la bordure par défaut */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur de la souris au survol */
}

button#reload-btn:hover {
    background-color: #45a049; /* Changement de couleur au survol */
}


.menu a.active {
    color: #4CAF50;
    font-weight: bold;
}

.menu a:not(.active) {
    color: #777;
}

.menu a:hover {
    color: #4CAF50;
}

.menu {
    margin-top: 10%; /* Ajuster la marge pour les petits écrans */
    transform: translateY(-50%);
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.menu i {
    margin-right: 10px;
}

.content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    flex-wrap: wrap; /* Ajuster pour les petits écrans */
    justify-content: space-between;
    align-items: center;
}

h2, h3 {
    color: #4CAF50;
    margin-bottom: 10px; /* Ajuster pour les petits écrans */
}

.avatar {
    font-size: 24px;
    margin-right: 10px; /* Ajouter une marge pour les petits écrans */
}

.dashboard-section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.balance-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    transition: transform 0.3s ease;
}

.balance-card:hover {
    transform: translateY(-5px);
}

.balance-card h3 {
    color: #4CAF50;
}

.balance-card .amount {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}
.transactions-card h3{
    text-align: start;
    color: #000;
}
.transactions-card ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px; /* Ajout d'une marge pour l'espace */
    text-align: start;
}

.transactions-card li {
    margin-bottom: 10px;
    color: #777;

}


.dashboard-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    flex: 1;
    max-width: 300px;
    transition: transform 0.3s ease;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

.dashboard-card h3 {
    color: #4CAF50;
}

.amount {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.dashboard-card ul {
    list-style-type: none;
    padding: 0;
}

.dashboard-card li {
    margin-bottom: 10px;
    color: #777;
}

.dashboard-section {
    display: none;
}

.dashboard-section.active {
    display: flex;
    flex-wrap: wrap; /* Ajuster pour les petits écrans */
}

.dashboard-section h3 {
    color: #45a049;
    font-size: 18px;
    margin-bottom: 10px;
}

.dashboard-section p, .dashboard-section ul {
    margin-top: 0;
}

.dashboard-section ul {
    padding-left: 20px;
}

.dashboard-section li {
    margin-bottom: 5px;
    color: #777;
}

.transfer-form {
    width: 100%;
    box-sizing: border-box;
}

.transfer-form label {
    display: block;
    margin-bottom: 8px;
}

.transfer-form input, .transfer-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.transfer-form button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.transfer-form button:hover {
    background-color: #45a049;
}

/* Ajouter des médias requêtes pour différents écrans */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        border-right: none;
    }

    .menu {
        margin-top: 0;
        transform: none;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .avatar {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* ... */

.logout-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}



.logout-btn:hover {
    background-color: #d32f2f;
}

/* ... */
.navbar .logout-btn {
    margin-top: 20px; /* Ajustez la valeur selon vos besoins */
}

.user-info {
    display: flex;
    align-items: center;
}

.avatar {
    font-size: 48px;
    margin-right: 20px;
}

.avatar i {
    color: #4CAF50; /* ou toute autre couleur de votre choix */
}

.user-details {
    flex: 1;
}

.user-details h3 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.user-details ul {
    list-style-type: none;
    padding: 0;
}

.user-details li {
    margin-bottom: 10px;
    color: #777;
}
