
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
    display: flex;
    flex-wrap: wrap; /* Enable wrapping for smaller screens */
}

.left-section {
    background-color: #de2506;
    color: white;
    padding: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    background-color: #fff;
    color: #000;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    max-width: 150px;
}

.navbar h2 {
    margin: 0;
    font-size: 24px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #45a049;
}

.menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    display: none; /* Initial state, hidden on larger screens */
}

.navbar ul {
    display: flex;
}



.form-section {
    width: 100%;
    max-width: 400px;
}

.right-section {
    background-color: #fff;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instructions-section {
    width: 100%;
    max-width: 400px;
}

h2 {
    margin-bottom: 20px;
}

form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #142715;
    color: white;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Media Queries for Responsive Design */

@media only screen and (max-width: 768px) {
    .login-container {
        flex-direction: column; /* Stack sections vertically on smaller screens */
    }

    .left-section,
    .right-section {
        padding: 20px; /* Adjust padding for smaller screens */
    }


    .menu-btn {
        display: block; /* Show the menu button on smaller screens */
        position: absolute;

        left: 40%;
    }

    .navbar ul {
        display: none; /* Hide the list on smaller screens initially */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px; /* Adjust position as needed */
        background-color: #fff;
        z-index: 1;
    }

    .navbar ul.show {
        display: flex;
    }

    .navbar ul li {
        margin-right: 0;
        text-align: center;
    }
}
